/* Museo Sans */

@font-face{
    font-family:'Museo Sans W01_100';
    src:url('../fonts/museo/museo/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix');
    src:url('../fonts/museo/museo/e14e9fd6-0631-4491-b873-211c7b6f926c.eot?#iefix') format('eot'),url('../fonts/museo/museo/fd9d5b5d-71c1-4db0-bf20-cd7e3ce4d069.woff2') format('woff2'),url('../fonts/museo/museo/e976d680-12b6-411e-9f79-0ef9287f484d.woff') format('woff'),url('../fonts/museo/museo/81780024-f1ae-4135-a0ae-d0bab2c19986.ttf') format('truetype'),url('../fonts/museo/museo/98fa899e-fa41-4563-b67a-33d373ba60ee.svg#98fa899e-fa41-4563-b67a-33d373ba60ee') format('svg');
}

@font-face{
    font-family:'MuseoSansW01-100Italic';
    src:url('../fonts/museo/museo/b2f70e54-26ae-44c8-94e7-3a7590a95d50.eot?#iefix');
    src:url('../fonts/museo/museo/b2f70e54-26ae-44c8-94e7-3a7590a95d50.eot?#iefix') format('eot'),url('../fonts/museo/museo/57a6b494-1c77-4cb0-b042-4adca2c0bdb1.woff2') format('woff2'),url('../fonts/museo/museo/2ab97fdf-1e06-4c25-a5e1-b111273d580a.woff') format('woff'),url('../fonts/museo/museo/ba402481-70a4-42b6-a4d2-291fac0e1202.ttf') format('truetype'),url('../fonts/museo/b2f3b1d9-1063-46e0-abcd-6b4cbbe44327.svg#b2f3b1d9-1063-46e0-abcd-6b4cbbe44327') format('svg');
}

@font-face{
    font-family:'Museo Sans W01_300';
    src:url('../fonts/museo/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix');
    src:url('../fonts/museo/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix') format('eot'),url('../fonts/museo/1d3191cd-ae8c-45e2-bb04-11e96d8fa974.woff2') format('woff2'),url('../fonts/museo/b252d464-65cb-4950-88f7-ac0a1bf79b75.woff') format('woff'),url('../fonts/museo/b3d18117-6517-4d3f-afc1-774086ff5fc1.ttf') format('truetype'),url('../fonts/museo/b9bed509-0816-43d8-b14b-7525a21f4bde.svg#b9bed509-0816-43d8-b14b-7525a21f4bde') format('svg');
}

@font-face{
    font-family:'MuseoSansW01-300Italic';
    src:url('../fonts/museo/90e6d1d9-33c0-4c63-9491-85041f7d5fd3.eot?#iefix');
    src:url('../fonts/museo/90e6d1d9-33c0-4c63-9491-85041f7d5fd3.eot?#iefix') format('eot'),url('../fonts/museo/a0f222f7-39b4-41c9-a5c0-0b9b7e6b8f89.woff2') format('woff2'),url('../fonts/museo/96766c08-0e19-43a8-b45d-e95c5b09785c.woff') format('woff'),url('../fonts/museo/304f4215-6b57-433a-83f7-2d4c3aaf82e9.ttf') format('truetype'),url('../fonts/museo/2acdd065-8f32-4b1d-a7c8-c59fa153ce86.svg#2acdd065-8f32-4b1d-a7c8-c59fa153ce86') format('svg');
}

@font-face{
    font-family:'Museo Sans W01_500';
    src:url('../fonts/museo/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix');
    src:url('../fonts/museo/a29947fd-0c53-492b-b2f4-399b01153b30.eot?#iefix') format('eot'),url('../fonts/museo/d9896899-f08c-4750-a874-a9e10d83c2cb.woff2') format('woff2'),url('../fonts/museo/d42dd843-62b0-4623-8855-d5882512c3c9.woff') format('woff'),url('../fonts/museo/6d532ccb-086c-4000-bab2-5d16862fcf01.ttf') format('truetype'),url('../fonts/museo/f56b7407-f97b-4cb3-9ce6-4e13065eec93.svg#f56b7407-f97b-4cb3-9ce6-4e13065eec93') format('svg');
}

@font-face{
    font-family:'MuseoSansW01-500Italic';
    src:url('../fonts/museo/afb0bae6-4f02-492e-82dd-c4c51e519279.eot?#iefix');
    src:url('../fonts/museo/afb0bae6-4f02-492e-82dd-c4c51e519279.eot?#iefix') format('eot'),url('../fonts/museo/b76ff444-27dd-4494-b96e-2f5157f347d5.woff2') format('woff2'),url('../fonts/museo/136eb3cf-249c-40a3-bb62-49c1ad9ae6d8.woff') format('woff'),url('../fonts/museo/70c24c76-d52f-4d55-be08-6085ad014f1b.ttf') format('truetype'),url('../fonts/museo/ac37080b-1709-4b25-bda1-03c4a58e3ef5.svg#ac37080b-1709-4b25-bda1-03c4a58e3ef5') format('svg');
}

@font-face{
    font-family:'Museo Sans W01_700';
    src:url('../fonts/museo/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix');
    src:url('../fonts/museo/3d0a39cf-115c-4800-9b1e-31c7912abfc2.eot?#iefix') format('eot'),url('../fonts/museo/e2d37f34-6bca-473c-b64d-93811f4dc046.woff2') format('woff2'),url('../fonts/museo/eadbb595-a394-48fc-834f-8bf5da15cddf.woff') format('woff'),url('../fonts/museo/9bcba093-b507-4b9b-9c83-303003d3815c.ttf') format('truetype'),url('../fonts/museo/9a2af429-2624-4bd1-a676-8f0eed3e7e31.svg#9a2af429-2624-4bd1-a676-8f0eed3e7e31') format('svg');
}

@font-face{
    font-family:'MuseoSansW01-700Italic';
    src:url('../fonts/museo/8507714a-41e5-4f02-9f2d-70e6dc6b30f7.eot?#iefix');
    src:url('../fonts/museo/8507714a-41e5-4f02-9f2d-70e6dc6b30f7.eot?#iefix') format('eot'),url('../fonts/museo/0db19ee1-b74a-4eb6-b48f-60c7047ea44b.woff2') format('woff2'),url('../fonts/museo/9c98d320-d511-4d3d-9ba3-6516302dba95.woff') format('woff'),url('../fonts/museo/b4b164e1-3b4c-42c1-8db5-ca02bfad125c.ttf') format('truetype'),url('../fonts/museo/8673e9b2-7e5d-4749-8588-b7de69b662c2.svg#8673e9b2-7e5d-4749-8588-b7de69b662c2') format('svg');
}

@font-face{
    font-family:'Museo Sans W01_900';
    src:url('../fonts/museo/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot?#iefix');
    src:url('../fonts/museo/7e90c1ee-e4b1-46f0-9134-93a8ba421545.eot?#iefix') format('eot'),url('../fonts/museo/009ca58d-46af-4651-a359-f0ae2301085b.woff2') format('woff2'),url('../fonts/museo/3619b5f4-8df9-44f5-8c53-b7c236e9c74e.woff') format('woff'),url('../fonts/museo/9b2d949a-4e1c-435c-8412-f377c80583ae.ttf') format('truetype'),url('../fonts/museo/7a319e11-05eb-49ce-bdb7-f692766e6477.svg#7a319e11-05eb-49ce-bdb7-f692766e6477') format('svg');
}

@font-face{
    font-family:'MuseoSansW01-900Italic';
    src:url('../fonts/museo/671bc72b-b38c-4bdd-8ec8-6cb9976a3596.eot?#iefix');
    src:url('../fonts/museo/671bc72b-b38c-4bdd-8ec8-6cb9976a3596.eot?#iefix') format('eot'),url('../fonts/museo/83ec39ba-ad2e-46a6-a1b1-f93f1457f7d4.woff2') format('woff2'),url('../fonts/museo/39ac4994-8f69-4ff0-8acd-9f100664da8f.woff') format('woff'),url('../fonts/museo/cffeecea-caad-4fed-835f-21cc1de30c4b.ttf') format('truetype'),url('../fonts/museo/8413d65b-e2be-47e1-8aab-60276fde1dd3.svg#8413d65b-e2be-47e1-8aab-60276fde1dd3') format('svg');
}

/*--------------------------------

jobotron-icons Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */
@font-face {
  font-family: 'jobotron-icons';
  src: url('../fonts/icons/jobotron-icons.eot');
  src: url('../fonts/icons/jobotron-icons.eot') format('embedded-opentype'), url('../fonts/icons/jobotron-icons.woff2') format('woff2'), url('../fonts/icons/jobotron-icons.woff') format('woff'), url('../fonts/icons/jobotron-icons.ttf') format('truetype'), url('../fonts/icons/jobotron-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
    base class definition
-------------------------*/
.nc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'jobotron-icons';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
.nc-icon.lg {
  font-size: 1.33333333em;
  vertical-align: -16%;
}
.nc-icon.x2 {
  font-size: 2em;
}
.nc-icon.x3 {
  font-size: 3em;
}
/*----------------------------------
  add a square/circle background
-----------------------------------*/
.nc-icon.square,
.nc-icon.circle {
  padding: 0.33333333em;
  vertical-align: -16%;
  background-color: #eee;
}
.nc-icon.circle {
  border-radius: 50%;
}
/*------------------------
  list icons
-------------------------*/
.nc-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.nc-icon-ul > li {
  position: relative;
}
.nc-icon-ul > li > .nc-icon {
  position: absolute;
  left: -1.57142857em;
  top: 0.14285714em;
  text-align: center;
}
.nc-icon-ul > li > .nc-icon.lg {
  top: 0;
  left: -1.35714286em;
}
.nc-icon-ul > li > .nc-icon.circle,
.nc-icon-ul > li > .nc-icon.square {
  top: -0.19047619em;
  left: -1.9047619em;
}
/*------------------------
  spinning icons
-------------------------*/
.nc-icon.spin {
  -webkit-animation: nc-icon-spin 2s infinite linear;
  -moz-animation: nc-icon-spin 2s infinite linear;
  animation: nc-icon-spin 2s infinite linear;
}
@-webkit-keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes nc-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
.nc-icon.rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.nc-icon.rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.nc-icon.rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.nc-icon.flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.nc-icon.flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
/*------------------------
    font icons
-------------------------*/

.nc-chart-bars::before {
    content: "\ea02";
}

.nc-briefcase-24::before {
    content: "\ea03";
}

.nc-folder-user::before {
    content: "\ea04";
}

.nc-multiple::before {
    content: "\ea05";
}

.nc-target::before {
    content: "\ea06";
}

.nc-edit-77::before {
    content: "\ea07";
}

.nc-settings-gear-63::before {
    content: "\ea08";
}

.nc-alert-circle-que::before {
    content: "\ea09";
}

.nc-fat-add::before {
    content: "\ea0a";
}

.nc-edit-71::before {
    content: "\ea0b";
}

.nc-check-circle-08::before {
    content: "\ea0c";
}

.nc-single-paragraph::before {
    content: "\ea0d";
}

.nc-single-copy-04::before {
    content: "\ea0e";
}

.nc-check-bold::before {
    content: "\ea0f";
}

.nc-bookmark-2::before {
    content: "\ea10";
}

.nc-favourite-31::before {
    content: "\ea11";
}

.nc-favourite-31-2::before {
    content: "\ea12";
}

.nc-preferences-circle::before {
    content: "\ea13";
}

.nc-alert::before {
    content: "\ea14";
}

.nc-trash-simple::before {
    content: "\ea15";
}

.nc-email-84::before {
    content: "\ea16";
}

.nc-funnel-40::before {
    content: "\ea17";
}

.nc-small-down::before {
    content: "\ea18";
}

.nc-bookmark-add::before {
    content: "\ea19";
}

.nc-bookmark-remove::before {
    content: "\ea1a";
}


/* all icon font classes list here */
