<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/style.css">
	<link media="print" href="print.css">

    <title>Hello, world!</title>
  </head>
  <body class="body">
	<div class="div-header">
			<div class="page-header page-2-header">
			<h1>TABLE OF CONTENTS</h1>
		</div>
	</div>
	 <div class="main">
		<div class="flex-height flex-box">
			<div class="div-block">

			</div>
		</div>
	 </div>
	 <div class="footer">
	 	<div class="page-footer">
		<div class="footer-content">
			<div class="footer-logo"><img src="assets/images/footer-logo.jpg" alt="img"/></div>
			<div class="footer-info">This information has been secured from sources we believe to be reliable, but we make no representations or warranties, expressed or implied, as to the accuracy of the information. References to square footage or age are approximate. Buyer must verify the information and bears all risk for any inaccuracies.</div>
			<div class="footer-page-count">
				<span>3</span>
			</div><br style="clear: both;"/>
		</div>
	</div>
	 </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery-3.3.1.min.js"></script>
  </body>
</html>